@import "../../assets/scss/landing.scss";
section {
    padding-top: 0;
    margin-bottom: 50px;
    .about-img {
        align-items: center;
        display: flex;
        position: relative;
        img {
            position: relative;
        }
    }
    p span {
        color: #1160cc;
        font-style: italic;
        font-weight: 500;
    }
}
.header .center-text {
    height: 100%;
    h2 {
        margin: 30px auto 50px auto;
        // font-size: calc(18px + (25 - 14) * ((100vw - 300px) / (1920 - 300)));
        // line-height: 1.7;
        font-weight: 500;
    }
}
@media only screen and (max-width: 767px) {
    .header .center-text {
        margin: 0;
        height: auto;
        padding: 0;
    }
}
@media only screen and (max-width: 991px) {
    .header .center-text {
        margin: 0;
    }
}
