<!-- about section Start-->
<section class="gym format" id="about">
    <div>
        <img src="assets/images/landing/about.jpg" alt="" class="img-fluid">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="center-text">
                    <div class="text-center">    
                        <div class="format-head-text">
                            <h1 class="about-font-header gradient-text">A creative studio making unique products with
                                passion and intelligence.</h1>
                            <h4>How it all started</h4>
                        </div>
                        <div class="format-sub-text mb-0">
                            <p class="p-light about-para about-page-content">
                                Our journey began with a spark of creativity and a shared passion for the world of
                                design. It all started when a group of
                                like-minded individuals, driven by their love for art and innovation, decided to unite
                                their talents and bring something
                                extraordinary into existence. With diverse backgrounds and a common dream, we laid the
                                foundation for Pixiebot Design Studio,
                                a place where artistic visions would flourish and transform into captivating realities.
                                The synergy of our team's expertise
                                and unbridled enthusiasm marked the inception of a studio dedicated to crafting
                                captivating designs, pushing boundaries, and
                                leaving an indelible mark in the world of visual aesthetics.
                            </p>

                        </div>
                        <div class="format-head-text">
                            <h4>Outcome</h4>
                        </div>
                        <div class="format-sub-text mb-0">
                            <p class="p-light about-para about-page-content">
                                We work hard to achieve excellent outcomes, surpass what our clients expect, and make
                                them feel the thrill of success.
                                We don't just create amazing websites; we also build a company's identity and boost
                                their profits using online marketing
                                tools. We handle everything from start to finish – that's why <span>we're your one-stop
                                    digital agency.</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about section end-->