<!--top nav start-->
<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="top-header">
                    <div class="logo">
                        <a class="navbar-brand" href="#"><img src="assets/images/landing/PB_logo.png" alt="logo"></a>
                    </div>
                    <div class="main-menu m-x-auto" id="nav">
                        <nav id="navbar-example2" class="navbar navbar-expand-lg navbar-light">
                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#scroll-spy" aria-controls="scroll-spy" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="scroll-spy">
                                <ul class="navbar-nav mx-auto nav">
                                    <li class="nav-item">
                                        <a class="nav-link active" #home >Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link"  >About Us</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" >Services</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link">Portfolio</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link">Contact</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="purchase-block">
                        <span class="cartpurchase"><i class="fa fa-phone"></i></span>
                        <a class="purchase-btn" href="https://themeforest.net/user/pixelstrap/portfolio">Let's talk</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--top nav end-->
<!-- <div class="row service-header-bg">
    <div class="section-row">
        <h1>Our Services</h1>
    </div>
</div> -->
<!-- service section Start-->
<section class="resume about bg-light-inner">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title title2 title-inner">
                    <div class="main-title">
                        <h2 class="font-primary borders text-center main-text text-uppercase m-b-0">Our Services</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="text-center radial">
                    <h2 class="color-light m-t-15">Design Agency</h2>
                    <ul class="service">
                        <li>BRANDING</li>
                        <li>PACKAGING DESIGN</li>
                        <li>GRAPHIC DESIGN</li>
                        <li>CUSTOM ILLUSTRATION</li>
                        <li>PRODUCT PHOTOGRAPHY</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="text-center">
                    <h2 class="color-light m-t-15">Paid Promotion</h2>
                    <ul class="service">
                        <li>PAID SEARCH:</li>
                        <li class="light">GOOGLE, AMAZON, YAHOO, APPLE SEARCH, GOOGLE PLAY</li>
                        <li>PAID SOCIAL:</li>
                        <li class="light">INSTAGRAM, FACEBOOK, TWITTER, YOUTUBE, PINTEREST</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="text-center radial">
                    <h2 class="color-light m-t-15">Digital growth</h2>
                    <ul class="service">
                        <li>WEB (UI/UX) DESIGN</li>
                        <li>PACKAGING DESIGN</li>
                        <li>SOCIAL MEDIA MANAGEMENT</li>
                        <li>EMARKETING</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="text-center radial">
                    <h2 class="color-light m-t-15">Brand strategy</h2>
                    <ul class="service">
                        <li>BRAND POSITIONING</li>
                        <li>COMPETITOR ANALYSIS</li>
                        <li>AUDIENCE PERSONAS</li>
                        <li>BRAND MESSAGING</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="yoga format">
    <div class="container">
        <div class="row">
            <!-- <div class="col-12">
                <div class="title title2 title-inner">
                    <div class="main-title">
                        <h2 class="font-primary borders text-center main-text text-uppercase m-b-0">What do we do here</h2>
                    </div>
                </div>
            </div> -->
            <div class="col-md-7 experience-container">
                <h2 class="font-primary borders text-center main-text text-uppercase m-b-0">We do it like this</h2>
            </div>
            <div class="col-md-5 counters">
                <div class="center-text">
                    <div class="w-100">
                       <p class="service-brief">
                        When we say we make marketing personal, we really mean it. We don't just understand our clients; we become one with them.
                        Our experts closely collaborate with brands to figure out what they need and then suggest a plan for various services.
                       </p> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- service section end-->
<section class="app1 services bg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title title2 title-inner">
                    <div class="main-title">
                        <h2 class="font-primary borders text-center main-text text-uppercase m-b-0">Way of working</h2>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="service text-center working" data-tilt="" data-tilt-max="6" data-tilt-speed="400"
                     data-tilt-perspective="500"
                     style="will-change: transform; transform: perspective(500px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1); background-color: #e2f2e2;">
                    <div class="service-feature">
                        <h4 class="feature-text">Account</h4>
                        <p>Organizing and taking care of the entire partnership between a company and its most valued customers.</p>
                        <p class="list">Planning | Budget | Roadmap</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="service text-center working" data-tilt="" data-tilt-max="6" data-tilt-speed="400"
                     data-tilt-perspective="500"
                     style="will-change: transform; transform: perspective(500px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1); background-color: #fce1af;">
                    <div class="service-feature">
                        <h4 class="feature-text">Strategy</h4>
                        <p>Know and handle tasks and goals. Figure out where the brand stands in people's minds compared to other products.</p>
                        <p class="list">End user | Marketing | Media </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="service text-center working" data-tilt="" data-tilt-max="6" data-tilt-speed="400"
                     data-tilt-perspective="500"
                     style="will-change: transform; transform: perspective(500px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1); background-color: #cfe1f3;">
                    <div class="service-feature">
                        <h4 class="feature-text">Concept</h4>
                        <p>Make practical plans that technology has proven to work.</p>
                        <p class="list">Idea | Experience | Creative | Design | UX | Technology</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="service text-center working" data-tilt="" data-tilt-max="6" data-tilt-speed="400"
                     data-tilt-perspective="500"
                     style="will-change: transform; transform: perspective(500px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);  background-color: #e2e2e2">
                    <div class="service-feature">
                        <h4 class="feature-text">Delivery</h4>
                        <p>Provide outstanding experiences and products.</p>
                        <p class="list">Platforms | Assets</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- footer start -->
<footer class="app2 bg footer2 p-0">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="logo-sec">
                        <div class="footer-title mobile-title p-t-0">
                            <h3>About Us</h3>
                        </div>
                        <div class="footer-contant">
                            <img alt="" class="img-fluid footer-logo" src="assets/images/landing/PB_logo.png">
                            <div class="footer-para">
                                <p>A creative haven where ideas come to life: our design studio crafts innovative concepts and visually stunning solutions, transforming visions into reality.</p>
                            </div>
                            <ul class="d-flex footer-social social">
                                <li class="footer-social-list">
                                    <a href="https://www.facebook.com/PixiebotDesignStudio"><i aria-hidden="true" class="fa fa-facebook"></i></a>
                                </li>
                                <li class="footer-social-list">
                                    <a href="https://www.linkedin.com/in/pixiebot-design-studio-789464255/"><i aria-hidden="true" class="fa fa-linkedin"></i></a>
                                </li>
                                <li class="footer-social-list">
                                    <a href="https://www.instagram.com/thepixiebot/"><i aria-hidden="true" class="fa fa-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="footer-title mobile-title">
                        <h3>Post Tags</h3>
                    </div>
                    <div class="footer-contant">
                        <h5 class="footer-headings">Post Tags</h5>
                        <div class="link-btns">
                            <ul>
                                <li class="buttons">
                                    <a href="#">app</a>
                                </li>
                                <li class="buttons">
                                    <a href="#">business</a>
                                </li>
                                <li class="buttons">
                                    <a href="#">corporation</a>
                                </li>
                                <li class="buttons">
                                    <a href="#">creative</a>
                                </li>
                                <li class="buttons">
                                    <a href="#">design</a>
                                </li>
                                <li class="buttons">
                                    <a href="#">fashion</a>
                                </li>
                                <li class="buttons">
                                    <a href="#">food</a>
                                </li>
                                <li class="buttons">
                                    <a href="#">mobile</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div> -->

                <!-- <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="footer-title mobile-title">
                        <h3 class="text-white">blog categories</h3>
                    </div>
                    <div class="footer-contant">
                        <h5 class="footer-headings">Blog Categories</h5>
                        <div>
                            <ul class="footer-lists">
                                <li>
                                    <a href="#">App Review</a>
                                </li>
                                <li>
                                    <a href="#">Audio Post</a>
                                </li>
                                <li>
                                    <a href="#">Default Post</a>
                                </li>
                                <li>
                                    <a href="#">Uncategorized</a>
                                </li>
                                <li>
                                    <a href="#">Video Post</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div> -->

                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="footer-title mobile-title">
                        <h3>Contact Info</h3>
                    </div>
                    <div class="footer-contant">
                        <h5 class="footer-headings">Contact Info</h5>
                        <div>
                            <ul class="footer-lists contacts">
                                <li>
                                    <i aria-hidden="true" class="fa fa-map-marker"></i>
                                    Dublin, California
                                </li> <br>
                                <li>
                                    <i aria-hidden="true" class="fa fa-phone m-r-15"></i>+1(925)-587-4330
                                </li><br>
                                <li><i aria-hidden="true" class="fa fa-envelope m-r-15"></i>pixiebotdesign@gmail.com
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>
<!--footer end-->

<!--copyright css start-->
<div class="app2 copyright">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="center-content">
                    <div>
                        <h6 class="copyright-text text-white">Copyright © 2023 Pixiebot Design Studio, All Right Reserved</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- copyright css end-->
