<!-- <div class="row service-header-bg">
    <div class="section-row">
        <h1>Our Services</h1>
    </div>
</div> -->
<!--feature css start-->
<section class="saas2 feature booking" id="feaure">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="title">
                    <div class="main-title">
                        <h2>WHAT YOU CAN EXPECT</h2>
                    </div>
                    <div class="sub-title">
                        <p class="sub-title-para">Enjoy a seamless and stress-free experience, as our dedicated team handles all aspects of your digital marketing,
                             from planning and implementation to ongoing monitoring and optimization.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-8 col-md-7">
                <div class="center-text justify-content-center">
                    <div class="image-container">
                        <img src="assets/images/landing/services.png" alt=""
                             class="img-fluid advance-feature-img">
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-5">
                <div *ngFor="let data of features">
                    <div class="center-content justify-content-start">
                        <img [src]="data.img" alt="" class="img-fluid">
                        <div class="feature-content">
                            <h5 class="feature-head">{{data.title}}</h5>
                            <p class="feature-para">{{data.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  <!--feature css end-->
  <!--business css start-->
<section class="saas2 bg-gradient quick-sol">
    <div class="container set-center-div">
        <div class="row">
            <div class="col-lg-6">
                <div class="offers-container">
                    <h3 class="offer-heading-text">WE DO IT LIKE THIS</h3>
                    <div class="bottom-border">
                    </div>
                    <div class="offers-content">
                        <div class="d-flex">
                            <div>
                                <p class="offer-sub-text">When we say we make marketing personal, we really mean it. We don't just understand our clients; we become one with them. Our experts closely collaborate with brands to figure out what they need and then suggest a plan for various services.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="center-text side-img">
                <img alt="" src="assets/images/landing/we_do.png" class="img-fluid" data-tilt data-tilt-max="3"
                     data-tilt-speed="400" data-tilt-perspective="500">
            </div>
        </div>
    </div>
  </section>
  <!--business css end-->
  <!--service css start-->
<section class="saas2 services">
    <div class="container saas2-services">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="title">
                    <div class="main-title">
                        <h2>Way of working</h2>
                    </div>
                    <div class="sub-title">
                        <p class="sub-title-para">Collaborative, data-driven approach to crafting impactful digital marketing strategies for clients.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6       service-container" *ngFor="let data of services">
                <div class="service text-center">
                    <div class="img-block">
                        <img [src]="data.img" alt="" class="service-img img-fluid">
                    </div>
                    <div class="service-feature">
                        <h4 class="feature-text text-center">{{data.title}}</h4>
                        <p>{{data.description}}</p>
  
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  <!--service css end-->
