<footer class="event contact set-relative bg bg-img bg-about p-b-0 " id="contact">
    <div class="container p-b-100">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="title title3">
                    <div class="main-title">
                        <h2 class="">We're Here to Help</h2>
                    </div>
                    <div class="sub-title">
                        <p>Need help with your digital marketing? We're here for you! Reach out anytime to kickstart your online presence and business growth. Let's team up for a digital makeover! Got urgent needs? Call us at <span>+1(925)-587-4330</span> or drop a line at <span>pixiebotdesign@gmail.com!</span> Contact us and let's get started!</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 offset-xl-1 col-md-6 p-r-0 map">
                <div class="iframe-container">
                    <img src="assets/images/landing/Contact Us.png" alt="girl and boy standing with contact methods"
                        class="img-fluid bottom-0 right-0">
                </div>
            </div>
            <div class="col-xl-5 p-l-0 col-md-6 set-z-index form-footer">
                <app-contact-us></app-contact-us>
            </div>
        </div>
    </div>
    <!-- <img src="assets/images/event/footer/2.png" alt="" class="set-abs top-0 plane2">
    <img src="assets/images/event/footer/1.png" alt="" class="set-abs bottom-0 plane"> -->
</footer>