<!-- about section Start-->
<section class="gym format" id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="center-text">
                    <div class="text-center">
                        <div class="format-head-text">
                            <h3 class="about-font-header gradient-text">about us</h3>
                        </div>
                        <div class="format-sub-text mb-0">
                            <p class="p-light about-para">
                                Welcome to Pixiebot Design Studio, where design meets innovation and creativity knows no
                                bounds. We are not just another design agency; we are the embodiment of passion,
                                expertise, and a vision for excellence.We are a proudly women-owned UX-UI design agency,
                                with 12+ years of experience and a shared passion for design, we have embarked on a
                                journey to make our mark in the ever-evolving world of digital experiences. </p>
                        </div><br><br>
                        <a [routerLink]="['/aboutus']" class=" btn btn-default btn-gradient text-white">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about section end-->