<!-- Progress bar start -->
<section class="resume about bg-light-inner">
    <div class="container">
        <div class="row">
            <!-- <div class="col-12">
                <div class="title title2 title-inner">
                    <div class="main-title">
                        <h2 class="font-primary borders text-center main-text text-uppercase m-b-0"><span>progress 2</span></h2>
                    </div>
                </div>
            </div> -->
            <div class="col-md-3 col-sm-6">
                <div class="text-center radial">
                    <div data-label="98%" class="radial-bar radial-bar-primary">
                    </div>
                    <h4 class="color-light m-t-15">UI/UX Design</h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="text-center radial">
                    <div data-label="90%" class="radial-bar radial-bar-primary radial-90">
                    </div>
                    <h4 class="color-light m-t-15">Development</h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="text-center radial">
                    <div data-label="80%" class="radial-bar radial-bar-primary radial-80">
                    </div>
                    <h4 class="color-light m-t-15">Branding</h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="text-center radial">
                    <div data-label="70%" class="radial-bar radial-bar-primary radial-70">
                    </div>
                    <h4 class="color-light m-t-15">Content Writing</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Progress bar end -->