<!-- Contact form start -->

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title title2 title-inner">
                    <div class="main-title">
                        <h2 class="borders text-center main-text m-b-0">Contact Us</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-8 offset-md-2">
                <div class="center-text test">
                    <div class="text-center">
                        <div class="format-sub-text mb-0">
                            <p class="p-light about-para">
                                Curious about our business solutions? Reach out today! For urgent assistance, dial
                                <span class="contact-num">+1(925)-587-4330</span> to speak with us directly and get
                                immediate help. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="music bg-footer">
        <div class="container">
            <app-contact-us></app-contact-us>
        </div>
    </section>
    <!-- <img src="assets/images/event/footer/2.png" alt="" class="set-abs top-0 plane2">
    <img src="assets/images/event/footer/1.png" alt="" class="set-abs bottom-0 plane"> -->
</section>
<!-- Contact form end -->