.has-error input,
.has-error select,
.has-error textarea {
  border: 1px solid #b32b23;
}

.error-message {
  color: #b32b23;
  font-size: 14px;
  margin-top: 5px;
}
.text-white {
  margin: 0 auto;
}
.music.bg-footer {
  margin-top: 3em;
}