
<!-- Portfolio start -->
<section class="portfolio-section portfolio-metro zoom-gallery">
    <div class="filter-section">
        <div class="container">
            <div class="p-3col-width">
                <div class="row">
                    <div class="col-12">
                        <div class="filter-container isotopeFilters">
                            <ul class="list-inline filter">
                                <li [ngClass]="{'active': customizer === projectType.All }"><a (click)="filterGallery(projectType.All)">All </a></li>
                                <li [ngClass]="{'active': customizer === projectType.WebDesign }"><a (click)="filterGallery(projectType.WebDesign)">Web Design</a></li>
                                <li [ngClass]="{'active': customizer === projectType.BrandDesign  }"><a (click)="filterGallery(projectType.BrandDesign)">Brand Design</a></li>
                                <li [ngClass]="{'active': customizer === projectType.SocialMediaDesign  }"><a (click)="filterGallery(projectType.SocialMediaDesign)">Social Media Design</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="isotopeContainer row" gallerize>
                    <figure class="p-width" itemprop="associatedMedia" *ngFor="let img of imageData">
                        <a href="javascript:void(0)" itemprop="contentUrl">
                            <img [src]="img.srcUrl" class="img-fluid" />
                        </a>
                    </figure>
                </div>
                <!-- pagination Start -->
                <!-- <div class="pagination_sec">
                    <div class="content_detail__pagination cdp">
                        <ul>
                            <li><a href="javascript:void(0)" class="prev"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
                            </li>
                            <li><a href="javascript:void(0)" class="active cdp_i">1</a></li>
                            <li><a href="javascript:void(0)" class="cdp_i">2</a></li>
                            <li><a href="javascript:void(0)" class="cdp_i">3</a></li>
                            <li><a href="javascript:void(0)" class="next"><i class="fa fa-angle-double-right"
                                        aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div> -->
                <!-- pagination End -->
            </div>
        </div>
    </div>
</section>
<!-- Portfolio end -->

