<!--top nav start-->
<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="top-header">
                    <div class="logo">
                        <a class="navbar-brand" href="#"><img src="assets/images/landing/PB_logo.png" alt="logo"></a>
                    </div>
                    <div class="main-menu m-x-auto" id="nav">
                        <nav id="navbar-example2" class="navbar navbar-expand-lg navbar-light">
                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#scroll-spy" aria-controls="scroll-spy" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="scroll-spy">
                                <ul class="navbar-nav mx-auto nav">
                                    <li class="nav-item">
                                        <a class="nav-link active" #home >Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link"  >About Us</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" >Services</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link">Portfolio</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link">Contact</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="purchase-block">
                        <span class="cartpurchase"><i class="fa fa-phone"></i></span>
                        <a class="purchase-btn" href="https://themeforest.net/user/pixelstrap/portfolio">Let's talk</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--top nav end-->
<!-- Portfolio start -->
<section class="portfolio-section portfolio-metro zoom-gallery">
    <div class="filter-section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="filter-container isotopeFilters">
                        <ul class="list-inline filter">
                            <li><a (click)="openGallery('all')">All </a></li>
                            <li><a (click)="openGallery('web')">Web Design</a></li>
                            <li><a (click)="openGallery('brand')">Brand Design</a></li>
                            <li><a (click)="openGallery('media')">Social Media Design</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="isotopeContainer row" gallerize>
                <ng-container *ngIf="customizer=='all'" >
                    <figure class="p-width" itemprop="associatedMedia" *ngFor="let img of imageData">
                        <a href="javascript:void(0)" itemprop="contentUrl">
                          <img [src]="img.srcUrl" class="img-fluid" />
                        </a>
                      </figure>
                </ng-container>
                <ng-container *ngIf="customizer=='web'">
                    <app-web class="w-100"></app-web>
                </ng-container>
                <ng-container *ngIf="customizer=='brand'">
                    <app-brand class="w-100"></app-brand>
                </ng-container>
                <ng-container *ngIf="customizer=='media'">
                    <app-media class="w-100"></app-media>
                </ng-container>
            </div>
            <!-- pagination Start -->
            <div class="pagination_sec">
                <div class="content_detail__pagination cdp">
                    <ul>
                        <li><a href="javascript:void(0)" class="prev"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="javascript:void(0)" class="active cdp_i">1</a></li>
                        <li><a href="javascript:void(0)" class="cdp_i">2</a></li>
                        <li><a href="javascript:void(0)" class="cdp_i">3</a></li>
                        <li><a href="javascript:void(0)" class="next"><i class="fa fa-angle-double-right"
                                    aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- pagination End -->
    </div>
  </div>
  </section>
<!-- Portfolio end -->
<!-- footer start -->
<footer class="app2 bg footer2 p-0">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="logo-sec">
                        <div class="footer-title mobile-title p-t-0">
                            <h3>About Us</h3>
                        </div>
                        <div class="footer-contant">
                            <img alt="" class="img-fluid footer-logo" src="assets/images/landing/PB_logo.png">
                            <div class="footer-para">
                                <p>A creative haven where ideas come to life: our design studio crafts innovative concepts and visually stunning solutions, transforming visions into reality.</p>
                            </div>
                            <ul class="d-flex footer-social social">
                                <li class="footer-social-list">
                                    <a href="https://www.facebook.com/PixiebotDesignStudio"><i aria-hidden="true" class="fa fa-facebook"></i></a>
                                </li>
                                <li class="footer-social-list">
                                    <a href="https://www.linkedin.com/in/pixiebot-design-studio-789464255/"><i aria-hidden="true" class="fa fa-linkedin"></i></a>
                                </li>
                                <li class="footer-social-list">
                                    <a href="https://www.instagram.com/thepixiebot/"><i aria-hidden="true" class="fa fa-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="footer-title mobile-title">
                        <h3>Post Tags</h3>
                    </div>
                    <div class="footer-contant">
                        <h5 class="footer-headings">Post Tags</h5>
                        <div class="link-btns">
                            <ul>
                                <li class="buttons">
                                    <a href="#">app</a>
                                </li>
                                <li class="buttons">
                                    <a href="#">business</a>
                                </li>
                                <li class="buttons">
                                    <a href="#">corporation</a>
                                </li>
                                <li class="buttons">
                                    <a href="#">creative</a>
                                </li>
                                <li class="buttons">
                                    <a href="#">design</a>
                                </li>
                                <li class="buttons">
                                    <a href="#">fashion</a>
                                </li>
                                <li class="buttons">
                                    <a href="#">food</a>
                                </li>
                                <li class="buttons">
                                    <a href="#">mobile</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div> -->

                <!-- <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="footer-title mobile-title">
                        <h3 class="text-white">blog categories</h3>
                    </div>
                    <div class="footer-contant">
                        <h5 class="footer-headings">Blog Categories</h5>
                        <div>
                            <ul class="footer-lists">
                                <li>
                                    <a href="#">App Review</a>
                                </li>
                                <li>
                                    <a href="#">Audio Post</a>
                                </li>
                                <li>
                                    <a href="#">Default Post</a>
                                </li>
                                <li>
                                    <a href="#">Uncategorized</a>
                                </li>
                                <li>
                                    <a href="#">Video Post</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div> -->

                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="footer-title mobile-title">
                        <h3>Contact Info</h3>
                    </div>
                    <div class="footer-contant">
                        <h5 class="footer-headings">Contact Info</h5>
                        <div>
                            <ul class="footer-lists contacts">
                                <li>
                                    <i aria-hidden="true" class="fa fa-map-marker"></i>
                                    Dublin, California
                                </li> <br>
                                <li>
                                    <i aria-hidden="true" class="fa fa-phone m-r-15"></i>+1(925)-587-4330
                                </li><br>
                                <li><i aria-hidden="true" class="fa fa-envelope m-r-15"></i>pixiebotdesign@gmail.com
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>
<!--footer end-->

<!--copyright css start-->
<div class="app2 copyright">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="center-content">
                    <div>
                        <h6 class="copyright-text text-white">Copyright © 2023 Pixiebot Design Studio, All Right Reserved</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- copyright css end-->
