<a  class="overlay-sidebar-header" [class.overlay-sidebar-header-open]="openSide" (click)="closeOverlay()"></a>
<div class="responsive-btn">
    <a (click)="toggleSidebar()">
        <i class="fa fa-bars text-white" aria-hidden="true"></i>
    </a>
</div>
<div class="navbar m-l-auto" id="togglebtn" [class.openSidebar]="openSide" >
    <div class="responsive-btn">
        <a (click)="toggleSidebar()">
            <h5>back</h5>
        </a>
    </div>
    <ul class="main-menu">
        <!-- 1st Level Menu -->
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/landing']" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link"  [routerLink]="['/aboutus']" routerLinkActive="active">About Us</a>
          </li>
          <li class="nav-item">
              <a class="nav-link"  [routerLink]="['/service']" routerLinkActive="active">Services</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['/portfolio']" routerLinkActive="active">Portfolio</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="active">Contact</a>
        </li>
    </ul>  
</div>
  
