section {
    padding: 40px 0 40px 0;
    .footer-contant {
        float: right;
    }
    p {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1199px){
    footer .footer-lists.contacts li {
        margin-bottom: 0;
    }
}
@media only screen and (max-width: 767px) {
    footer .footer-contant {
        float: left;
        padding: 20px 0;
    }
}
