<!--service section start-->
<section class="app1 services bg" id="features">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title title2 title-inner">
                    <div class="main-title">
                        <h2 class="font-primary borders text-center main-text m-b-0">What can we do for you?</h2>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="service service-overlay text-center" [routerLink]="['/service']" data-tilt=""
                    data-tilt-max="6" data-tilt-speed="400" data-tilt-perspective="500"
                    style="will-change: transform; transform: perspective(500px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);">
                    <div class="img-block">
                        <img src="assets/images/agency/service/ui.png" alt="" class="service-img img-fluid">
                    </div>
                    <div class="service-feature">
                        <h4 class="feature-text text-center">Creative Design</h4>
                        <p>Innovative thinking, fresh ideas, standout site to communicate
                            ideas are our expertise.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="service service-overlay text-center" [routerLink]="['/service']" data-tilt=""
                    data-tilt-max="6" data-tilt-speed="400" data-tilt-perspective="500"
                    style="will-change: transform; transform: perspective(500px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);">
                    <div class="img-block">
                        <img src="assets/images/agency/service/dev.png" alt="" class="service-img img-fluid">
                    </div>
                    <div class="service-feature">
                        <h4 class="feature-text text-center">Development</h4>
                        <p>Transforming your concepts into reality and delivering exceptional experiences requires
                            technical expertise.</p>

                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="service service-overlay text-center" [routerLink]="['/service']" data-tilt=""
                    data-tilt-max="6" data-tilt-speed="400" data-tilt-perspective="500"
                    style="will-change: transform; transform: perspective(500px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);">
                    <div class="img-block">
                        <img src="assets/images/agency/service/social.png" alt="" class="service-img img-fluid">
                    </div>
                    <div class="service-feature">
                        <h4 class="feature-text text-center">Marketing</h4>
                        <p>Getting more people to explore your site is what we do best, ensuring your business reaches its full potential.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--service section end-->