.has-error input,
.has-error select,
.has-error textarea {
  border: 1px solid #b32b23;
}

.error-message {
  color: #b32b23;
  font-size: 14px;
  margin-top: 5px;
}

.email-thankyou {
    height: 500px;
}

.message-textarea {
    margin-top: 10px;
}
.text-info {
  color: #1160cc !important;
  text-align: center;
  margin-top: 3rem;
}
label {
  font-size: calc(13px + (18 - 15) * ((100vw - 300px) / (1920 - 300)));
  color: #10266b;
}